.movieOverview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: nowrap;
}

.header .libraryMenuItem {
    color: white;
    padding: 20px;
    margin: 0;
    text-wrap: nowrap;
    cursor: pointer;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.header .libraryMenuItem.selected .libraryName {
    color: aquamarine;
}

.header .libraryMenuItem .editIcon {
    opacity: 0;
    transition: all 0.4s;
}

.header .libraryMenuItem:hover .editIcon {
    opacity: 0.5;
}

.header .libraryMenuItem .editIcon:hover {
    opacity: 1;
}

.header .addIcon {
    color: white;
    cursor: pointer;
}