.movieOverview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    align-items: flex-start;
    min-height: 0;
    overflow: auto;
    
}

.contentContainer {
    justify-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    justify-self: stretch;

    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: nowrap;
    justify-self: stretch;
    justify-content: center;
    gap: 4rem;
    color: white;
    margin: 1rem;
}

.header p.headerItem {
    transition: all 0.4s;
    cursor: pointer;
}
.header p.headerItem.active {
    text-decoration: underline;
    color: aquamarine;
}