/* src/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #1a1f24;
    display: flex;
    height: 100vh;
    margin: 0;
}

#root {
    display: flex;
    justify-self: stretch;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
    justify-self: stretch;
    margin: 2rem;
    gap: 2rem;
}

input[type=text] {
    background-color: black;
    outline: none;
    border: rgba(255, 255, 255, 0.33) solid 1px;
    border-radius: 0.6rem;
    padding: 10px;
    color: white;
    font-size: 15px;
    min-width: 300px;
}

input[type=text]:focus {
    border-color: aquamarine;
}

button {
    outline: none;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 15px;
    transition: all 0.4s;
    font-weight: bold;
    cursor: pointer;
}

button.primary {
    background-color: rgba(128, 255, 212, 0.33);
    border-color: aquamarine;
}

button.primary:hover {
    background: rgba(128, 255, 212, 1);
    color: black;
}

button.destructive {
    background-color: rgba(255, 0, 0, 0.33);
    border-color: red;
}

button.destructive:hover {
    background-color: red;
}

button:disabled {
    border-color: grey;
    background: rgba(128, 128, 128, 0.33);
}

button:disabled:hover {
    background: rgba(128, 128, 128, 0.33);
    color: white;
    cursor: auto;
}

.buttonIcon {
    color: white;
    cursor: pointer;
    transition: all 0.4s !important;
}

.buttonIcon:hover {
    color: aquamarine;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    margin: 0;
    padding: 0;
    margin-left: 0.6rem;
    margin-bottom: 0.2rem;
}